In [1]:
from src.dictionaries import *
import pandas as pd
import numpy as np

In [9]:
def add_qtrid(df):
    df['qtrid'] = df['year'] + (df['qtr']/4)
    return df

#import one year of data to explore
def import_one(year):
    filepath = 'data/by_county/' + str(year) + '.csv'
    df = pd.read_csv(filepath, dtype = schema_dict)
    #df = df.drop(drop_columns, axis = 1)
    return df

#import all data into a single file
def import_all(years):
    df = import_one(years[0])
    for year in years[1:]:
        df = df.append(import_one(year))
    df = add_qtrid(df)
    return df

In [3]:
df = import_all(recession1_years)

In [4]:
def create_df_empl(df):
    return df.pivot_table(columns = 'qtrid', values = 'month3_emplvl', index = ['area_fips', 'area_title'], aggfunc = np.sum)

In [31]:
df = import_all(recession1_years)
df_empl = create_df_empl(df)
df_empl = df_empl.reset_index()
df_empl['nadir'] = df_empl.iloc[:,9:].min(axis=1)
df_empl['nadir_qtr'] = df_empl.iloc[:,9:].idxmin(axis=1)
df_empl['nadir_qtr_ct'] = (df_empl['nadir_qtr'] - 2000.25) * 4
df_empl['nadir_qtr_ct'] = ((df_empl['nadir_qtr'] - 2000) * 4).astype('int32')
df_empl['pre-peak'] = 0
df_empl['post-peak'] = 0
for index, row in df_empl.iterrows():
    slicer = row['nadir_qtr_ct'] + 3
    pre_peak = row.iloc[2:slicer].max()
    df_empl.iloc[index,37] = pre_peak
    post_peak = row.iloc[slicer:].max()
    df_empl.iloc[index,38] = post_peak
df_empl['recovery'] = df_empl['post-peak'] >= df_empl['pre-peak']
df_empl['delta'] = df_empl['post-peak'] - df_empl['pre-peak']

In [45]:
df_empl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4403 entries, 0 to 4402
Data columns (total 41 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_fips     4403 non-null   object
 1   area_title    4403 non-null   object
 2   2000.25       4347 non-null   float64
 3   2000.5        4347 non-null   float64
 4   2000.75       4347 non-null   float64
 5   2001.0        4347 non-null   float64
 6   2001.25       4400 non-null   float64
 7   2001.5        4400 non-null   float64
 8   2001.75       4400 non-null   float64
 9   2002.0        4400 non-null   float64
 10  2002.25       4398 non-null   float64
 11  2002.5        4398 non-null   float64
 12  2002.75       4398 non-null   float64
 13  2003.0        4398 non-null   float64
 14  2003.25       4398 non-null   float64
 15  2003.5        4398 non-null   float64
 16  2003.75       4398 non-null   float64
 17  2004.0        4398 non-null   float64
 18  2004.25       4398 non-null   float64
 19  2004.5        4398 non-null   float64
 20  2004.75       4398 non-null   float64
 21  2005.0        4398 non-null   float64
 22  2005.25       4398 non-null   float64
 23  2005.5        4398 non-null   float64
 24  2005.75       4398 non-null   float64
 25  2006.0        4398 non-null   float64
 26  2006.25       4398 non-null   float64
 27  2006.5        4398 non-null   float64
 28  2006.75       4398 non-null   float64
 29  2007.0        4398 non-null   float64
 30  2007.25       4399 non-null   float64
 31  2007.5        4399 non-null   float64
 32  2007.75       4399 non-null   float64
 33  2008.0        4399 non-null   float64
 34  nadir         4403 non-null   float64
 35  nadir_qtr     4403 non-null   float64
 36  nadir_qtr_ct  4403 non-null   int32
 37  pre-peak      4403 non-null   float64
 38  post-peak     4403 non-null   float64
 39  recovery      4403 non-null   bool
 40  delta         4403 non-null   float64
dtypes: bool(1), float64(37), int32(1), object(2)
memory usage: 1.3+ MB

In [46]:
df2 = import_all(recession2_years)

In [47]:
df2

,area_fips,own_code,industry_code,agglvl_code,size_code,year,qtr,disclosure_code,area_title,own_title,...,oty_avg_wkly_wage_chg,oty_avg_wkly_wage_pct,oty_month1_emplvl_pct_chg,oty_month2_emplvl_pct_chg,oty_month3_emplvl_pct_chg,oty_total_qtrly_wages_pct_chg,oty_taxable_qtrly_wages_pct_chg,oty_qtrly_contributions_pct_chg,oty_avg_wkly_wage_pct_chg,qtrid
0,01000,0,10,50,0,2007,1,NaN,Alabama -- Statewide,Total Covered,...,25,3.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007.25
1,01000,0,10,50,0,2007,2,NaN,Alabama -- Statewide,Total Covered,...,24,3.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007.50
2,01000,0,10,50,0,2007,3,NaN,Alabama -- Statewide,Total Covered,...,25,3.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007.75
3,01000,0,10,50,0,2007,4,NaN,Alabama -- Statewide,Total Covered,...,25,3.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.00
4,01000,1,10,51,0,2007,1,NaN,Alabama -- Statewide,Federal Government,...,15,1.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76947,USMSA,0,10,91,0,2018,4,NaN,U.S. Metropolitan Statistical Areas (combined),Total Covered,...,35,NaN,1.7,1.7,1.5,4.7,4.6,-5.6,3.1,2019.00
76948,USNMS,0,10,93,0,2018,1,NaN,U.S. Nonmetropolitan Area Counties (combined),Total Covered,...,35,NaN,0.8,0.9,0.9,4.8,3.3,-7.8,3.9,2018.25
76949,USNMS,0,10,93,0,2018,2,NaN,U.S. Nonmetropolitan Area Counties (combined),Total Covered,...,29,NaN,0.9,1.1,1.0,4.4,1.6,-9.8,3.4,2018.50
76950,USNMS,0,10,93,0,2018,3,NaN,U.S. Nonmetropolitan Area Counties (combined),Total Covered,...,33,NaN,1.2,1.3,1.2,5.1,2.9,-7.9,3.8,2018.75
76951,USNMS,0,10,93,0,2018,4,NaN,U.S. Nonmetropolitan Area Counties (combined),Total Covered,...,37,NaN,1.3,1.4,1.2,5.5,4.1,-7.3,4.0,2019.00

In [17]:
df2 = create_df_empl(df2)
df2.columns

Float64Index([2007.25,  2007.5, 2007.75,  2008.0, 2008.25,  2008.5, 2008.75,
               2009.0, 2009.25,  2009.5, 2009.75,  2010.0, 2010.25,  2010.5,
              2010.75,  2011.0, 2011.25,  2011.5, 2011.75,  2012.0, 2012.25,
               2012.5, 2012.75,  2013.0, 2013.25,  2013.5, 2013.75,  2014.0,
              2014.25,  2014.5, 2014.75,  2015.0, 2015.25,  2015.5, 2015.75,
               2016.0, 2016.25,  2016.5, 2016.75,  2017.0, 2017.25,  2017.5,
              2017.75,  2018.0, 2018.25,  2018.5, 2018.75,  2019.0],
             dtype='float64', name='qtrid')

In [24]:
df2 = df2.reset_index()

In [52]:
df = import_all(recession2_years)
df = df.drop(drop_columns, axis =1)
df = create_df_empl(df)
df = df.dropna(axis = 0)
df = df.reset_index()
df['nadir'] = df.iloc[:,9:].min(axis=1)
df['nadir_qtr'] = df.iloc[:,9:].idxmin(axis=1)
df['nadir_qtr_ct'] = (df['nadir_qtr'] - 2007.25) * 4
df['pre-peak'] = 0
df['post-peak'] = 0
for index, row in df.iterrows():
    slicer = int(row['nadir_qtr_ct'] + 3)
    pre_peak = row.iloc[2:slicer].max()
    df.iloc[index,53] = pre_peak
    post_peak = row.iloc[slicer:].max()
    df.iloc[index,54] = post_peak
df['recovery'] = df['post-peak'] >= df['pre-peak']
df['delta'] = df['post-peak'] - df['pre-peak']

In [53]:
df

qtrid,area_fips,area_title,2007.25,2007.5,2007.75,2008.0,2008.25,2008.5,2008.75,2009.0,...,2018.5,2018.75,2019.0,nadir,nadir_qtr,nadir_qtr_ct,pre-peak,post-peak,recovery,delta
0,01000,Alabama -- Statewide,4263030.0,4294634.0,4279255.0,4307187.0,4260106.0,4283727.0,4237660.0,4188019.0,...,4310965.0,4298373.0,4342262.0,3976108.0,2010.25,12.0,4307187.0,4342262.0,True,35075.0
1,01001,"Autauga County, Alabama",22434.0,22974.0,23024.0,23078.0,22452.0,22786.0,22532.0,22580.0,...,22066.0,21826.0,21996.0,20144.0,2012.75,22.0,23078.0,22066.0,False,-1012.0
2,01003,"Baldwin County, Alabama",124112.0,130420.0,125966.0,123618.0,124826.0,131084.0,125878.0,119376.0,...,155154.0,148082.0,147324.0,113458.0,2010.00,11.0,131084.0,155154.0,True,24070.0
3,01005,"Barbour County, Alabama",21504.0,21628.0,21378.0,21334.0,20592.0,20994.0,20724.0,20272.0,...,16326.0,16278.0,16318.0,15672.0,2016.75,38.0,21628.0,16326.0,False,-5302.0
4,01007,"Bibb County, Alabama",8468.0,8506.0,8696.0,8786.0,8628.0,8462.0,8422.0,8340.0,...,8518.0,8482.0,8638.0,7970.0,2011.25,16.0,8786.0,8736.0,False,-50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4281,CS566,"Youngstown-Warren, OH-PA CSA",261260.0,270050.0,265546.0,264914.0,255831.0,262295.0,259675.0,254985.0,...,243614.0,239505.0,240166.0,233189.0,2010.25,12.0,270050.0,249356.0,False,-20694.0
4282,US000,U.S. TOTAL,421871312.0,429850192.0,427422632.0,430316935.0,423280788.0,428834878.0,424502806.0,420913019.0,...,461176897.0,459565267.0,463595878.0,397861191.0,2010.25,12.0,430316935.0,463595878.0,True,33278943.0
4283,USCMS,U.S. Combined Statistical Areas (combined),84987909.0,86745808.0,86170334.0,86993190.0,85392839.0,86694009.0,85679243.0,85056619.0,...,113049673.0,112560565.0,113706869.0,80038373.0,2010.25,12.0,86993190.0,113706869.0,True,26713679.0
4284,USMSA,U.S. Metropolitan Statistical Areas (combined),113908833.0,116001196.0,115339211.0,116311304.0,114290576.0,115709908.0,114516212.0,113597984.0,...,127445093.0,127009036.0,128302040.0,107067235.0,2010.25,12.0,116311304.0,128302040.0,True,11990736.0
4285,USNMS,U.S. Nonmetropolitan Area Counties (combined),20371272.0,21027658.0,20890713.0,20729207.0,20377916.0,20906826.0,20681636.0,20258445.0,...,19977830.0,19873469.0,19827155.0,18345713.0,2013.25,24.0,21027658.0,19977830.0,False,-1049828.0

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4542 entries, 0 to 4541
Data columns (total 53 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_fips     4542 non-null   object
 1   area_title    4542 non-null   object
 2   2007.25       4399 non-null   float64
 3   2007.5        4399 non-null   float64
 4   2007.75       4399 non-null   float64
 5   2008.0        4399 non-null   float64
 6   2008.25       4401 non-null   float64
 7   2008.5        4401 non-null   float64
 8   2008.75       4401 non-null   float64
 9   2009.0        4401 non-null   float64
 10  2009.25       4399 non-null   float64
 11  2009.5        4399 non-null   float64
 12  2009.75       4399 non-null   float64
 13  2010.0        4399 non-null   float64
 14  2010.25       4399 non-null   float64
 15  2010.5        4399 non-null   float64
 16  2010.75       4399 non-null   float64
 17  2011.0        4399 non-null   float64
 18  2011.25       4399 non-null   float64
 19  2011.5        4399 non-null   float64
 20  2011.75       4399 non-null   float64
 21  2012.0        4399 non-null   float64
 22  2012.25       4400 non-null   float64
 23  2012.5        4400 non-null   float64
 24  2012.75       4400 non-null   float64
 25  2013.0        4400 non-null   float64
 26  2013.25       4427 non-null   float64
 27  2013.5        4427 non-null   float64
 28  2013.75       4427 non-null   float64
 29  2014.0        4427 non-null   float64
 30  2014.25       4426 non-null   float64
 31  2014.5        4426 non-null   float64
 32  2014.75       4426 non-null   float64
 33  2015.0        4426 non-null   float64
 34  2015.25       4429 non-null   float64
 35  2015.5        4429 non-null   float64
 36  2015.75       4429 non-null   float64
 37  2016.0        4429 non-null   float64
 38  2016.25       4426 non-null   float64
 39  2016.5        4426 non-null   float64
 40  2016.75       4426 non-null   float64
 41  2017.0        4426 non-null   float64
 42  2017.25       4427 non-null   float64
 43  2017.5        4427 non-null   float64
 44  2017.75       4427 non-null   float64
 45  2018.0        4427 non-null   float64
 46  2018.25       4428 non-null   float64
 47  2018.5        4428 non-null   float64
 48  2018.75       4428 non-null   float64
 49  2019.0        4428 non-null   float64
 50  nadir         4541 non-null   float64
 51  nadir_qtr     4541 non-null   float64
 52  nadir_qtr_ct  4541 non-null   float64
dtypes: float64(51), object(2)
memory usage: 1.8+ MB